<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace写接口的全类名-->
<mapper namespace="me.rsnomis.dao.EmployeeMapper">
    <!--ehcache配置需要添加
    -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" >
        <property name="timeToIdleSeconds" value="3600"/><!--1 hour-->
        <property name="timeToLiveSeconds" value="3600"/><!--1 hour-->
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
    <!--查询员工-->
    <select id="getEmpById" resultType="me.rsnomis.me.rsnomis.bean.Employee">
        select * from tbl_employee where id=#{id}
    </select>

    <!--增加员工记录-->
    <insert id="addEmp">
        insert into tbl_employee (last_name, gender, email) values (#{lastName}, #{gender}, #{email})
    </insert>

    <!--在标签上添加useCache-->
    <select id="getEmpUseCache" resultType="me.rsnomis.me.rsnomis.bean.Employee" useCache="true">
        select * from tbl_employee where id = #{id}
    </select>

</mapper>