<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <!--管理所有的业务逻辑组件,除去mvc管理的controller-->
    <context:component-scan base-package="me.rsnomis">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <!--引入数据库配置文件-->
    <context:property-placeholder location="classpath:dbconfig.properties"></context:property-placeholder>

    <!--spring控制业务逻辑、数据源、事务控制、aop-->
    <me.rsnomis.bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </me.rsnomis.bean>

    <!--事务管理器-->
    <me.rsnomis.bean id="DataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </me.rsnomis.bean>
    <tx:annotation-driven transaction-manager="DataSourceTransactionManager"/>

    <!--整合mybatis
        1.用spring管理所有组件，mapper实现类
        2.service=>Dao 用@Autowired:自动注入mapper
        3.spring用来管理事务，声明式事务
    -->
    <me.rsnomis.bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <!--mapper配置文件必须与接口文件同名，并且在同一个目录中，否则要在这里设置mapper配置文件的位置-->
        <property name="mapperLocations" value="classpath:EmployeeMapper.xml"></property>
    </me.rsnomis.bean>

    <!--扫描所有mapper接口，实现mapper接口注入-->
    <mybatis:scan base-package="me.rsnomis.dao"/>
</beans>